﻿@model List<WMSBDlibrary.Generic>

<div id="Layer">
    @foreach (WMSBDlibrary.Generic s in Model)
{
    
    @Html.ActionLink(s.Name, "Detail", new { NameSelected = s.Name},  new {
        @class = s.Name==ViewBag.selectedRate ? "selected" : null
    })
}

</div>
<div id="content"></div>