﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
      <div id="AddNewRate" style="display:none">
      

    </div>
    <div ><div id="header">WMS Service 1.0</div> </div>
    <div>
    <ul id="panel">
        <li>@Html.ActionLink("Добавить слой","Index","Home")</li>
        <li>@Html.ActionLink("Сгенерировать xml сервиса","Generic","Home")</li>

    </ul>
        </div>
    <div >
        @RenderBody()
    </div>
   

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
