﻿body {
    padding:0;
    margin:0;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#header
{
    display:block;
    padding-left:8px;
    padding-bottom:10px;
    background-color:gray;
    font-size:24px;
    font-style:oblique;
}
#Layer
{
    padding-top:8px;
    float:left;
    width:11em;
    display:block;
}
    #Layer A
    {
      padding:  .4em 1em .4em 1em;
      display:block;
      text-decoration:none;
    }
      #Layer A:hover { background-color: #CCC; }
      #Layer A.selected { background-color: #666; color: White; }
#panel
{
    margin:0;
    padding:0;
    border-bottom:1px solid black;
  overflow:hidden;
}
   
        #panel  LI
        {
padding: 9px 10px;
border:1px solid black;
width:13em;
float:left;
  display:inline;
        }
            #panel li a
            {
                text-decoration:none;
            }
            #panel li:hover
            {
                cursor:pointer;
                background-color: #CCC;
            }
#content
{
    border-left:1px solid black;
    padding-left:10px;
    margin-left:11em;
    min-height:200px;
}

.table th {
	padding:11px 15px 12px 15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

.table tr td  {
	padding:10px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.news
{
    color:blue;
}
.news:hover {
cursor:pointer;
}