﻿@model WMSBDlibrary.WMSLayer
@using WMS_service.Models
@{
    Layout = null;
    string method = "update";
    if (ViewBag.isnew == true)
    {
       
        method = "insertnew";
    }
        
}
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
<script>
    function form() {

        $("#Form1").submit();
    }
</script>
    @using (Html.BeginForm(method, "Home", FormMethod.Post, new {id="Form1" }))
    {
        if (method!="insertnew")
        {
        <ul id="panel">  
    <li><a   class="news" id="Save" onclick="javascript:form()">Сохранить</a></li>
          
    <li>@Html.ActionLink("Удалить слой", "RemoveLayer", "Home", new { name = Model.Name}, null)</li>
</ul>
        }
        else
        {
            <p align="center" style="font-size: 1.4em;font-style: italic;">Добавить новый слой</p>
        }
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.Hidden("LayerName", @Model.Name)
    <fieldset>
        <fieldset>
            <legend>WMS Layer</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.CRS)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CRS)
                @Html.ValidationMessageFor(model => model.CRS)
            </div>
    
            
        </fieldset>
         <fieldset>
            <legend>Box</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Box.maxx)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Box.maxx)
                @Html.ValidationMessageFor(model => model.Box.maxx)
            </div>
    
           <div class="editor-label">
                @Html.LabelFor(model => model.Box.maxy)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Box.maxy)
                @Html.ValidationMessageFor(model => model.Box.maxy)
            </div>
    <div class="editor-label">
                @Html.LabelFor(model => model.Box.minx)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Box.minx)
                @Html.ValidationMessageFor(model => model.Box.minx)
            </div>
             <div class="editor-label">
                @Html.LabelFor(model => model.Box.miny)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Box.miny)
                @Html.ValidationMessageFor(model => model.Box.miny)
            </div>
        </fieldset>

         <fieldset>
            <legend>GeogBox</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.GeogBox.eastBoundLongitude)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.GeogBox.eastBoundLongitude)
                @Html.ValidationMessageFor(model => model.GeogBox.eastBoundLongitude)
            </div>
    
           <div class="editor-label">
                @Html.LabelFor(model => model.GeogBox.northBoundLatitude)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.GeogBox.northBoundLatitude)
                @Html.ValidationMessageFor(model => model.GeogBox.northBoundLatitude)
            </div>
    <div class="editor-label">
                @Html.LabelFor(model => model.GeogBox.southBoundLatitude)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.GeogBox.southBoundLatitude)
                @Html.ValidationMessageFor(model => model.GeogBox.southBoundLatitude)
            </div>
             <div class="editor-label">
                @Html.LabelFor(model => model.GeogBox.westBoundLongitude)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.GeogBox.westBoundLongitude)
                @Html.ValidationMessageFor(model => model.GeogBox.westBoundLongitude)
            </div>
        </fieldset>

        <p>@Html.EnumDropDownList("Osi",Model.Osi)</p>

      
        </fieldset>
    }
    
    
</body>
</html>
