﻿@model List<WMSBDlibrary.WMSLayer>

<div id="Layer">
    @foreach (WMSBDlibrary.WMSLayer s in Model)
{
    
    @Html.ActionLink(s.Name, "Index", new { NameLayer = s.Name},  new {
        @class = s.Name==ViewBag.SelectedLayerName ? "selected" : null
    })
}

</div>
<div id="content">
    @{Html.RenderAction("Detail", new { SelectedLayer = ViewBag.SelectedLayer,method="update" });}
</div>
